.students{
    width: 20%;
    margin: 300px auto;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    background-color: white;
    padding-bottom: 100px;
    
}

.students-lable{
    display: block;
    margin: 10px auto;
    text-align: left;
    font-size: small;
    font-weight: bold;
    color: black;
}
.students-input{
    width: 80%;
    height: 30px;
    padding: 5px;
}

.students-buttom{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
}